.bdeo-login-container {
  margin-top: 15%;
}

.bdeo-login-container .login-form-container {
  margin: 0 auto;
  border: solid 2px greenyellow;
  border-radius: 1em;
  background-color: transparent;
}

.bdeo-login-container .login-form-container .login-form-btn {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.bdeo-login-container .login-form-container .login-form-btn button {
  width: 50%;
  margin: 1em;
}



.bdeo-login-container .login-form-container div[class$="-container"] {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  width: 100%;
}




