.bdeo-sessions-container {

}



.bdeo-sessions-container .session-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}


.bdeo-sessions-container td:not(:last-child),
.bdeo-sessions-container th {
  text-align: center;
}
