<div class="bdeo-login-container">
  <form class="login-form-container col-md-6 offset-2 px-3">
    <div class="email-container">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" ng-model="vm.userTmp.email" placeholder="email@example.com" required>
    </div>
    <div class="password-container">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" ng-model="vm.userTmp.password" placeholder="Password" required>
    </div>
    <div class="login-form-btn">
      <button ng-click="onSubmit($event)">Login</button>
    </div>
  </form>
</div>
