<div class="bdeo-login-container">
  <form ng-submit="onSubmit($event)" class="login-form-container">
    <div class="email-container">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" ng-model="vm.userEmail">
    </div>
    <!-- <div class="password-container">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div> -->
    <div class="login-form-btn">
      <button type="submit">Ingresar</button>
    </div>
  </form>
</div>
